<li id="project-<%= project.id %>">
  <%= link_to project.name, project.name %>
  <span class="customer"><%= link_to project.customer, project.customer %></span>
  <span class="description"><%= project.description %></span>
  <span class="timestamp">
    Deadline <%= time_ago_in_words(project.deadline) %>.
  </span>
</li>
